.btnamarillo {
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;
    -webkit-box-shadow: 0px 6px 0px #8a8a86;
    -moz-box-shadow: 0px 6px 0px #8a8a86;
    box-shadow: 0px 6px 0px #8a8a86;
    font-family: Arial;
    color: #fff;
    font-size: 1.5vw;
   

    
background-color: #C1C412;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='100' height='100' patternUnits='userSpaceOnUse' patternTransform='scale(0.34)'%3E%3Cpath data-color='fill' fill='none' stroke='%23F5F83F' stroke-width='2.01' d='M50 0C22.4 0 0 22.4 0 50c27.6 0 50-22.4 50-50zM0 50c0 27.6 22.4 50 50 50 0-27.6-22.4-50-50-50zM100 50c-27.6 0-50 22.4-50 50 27.6 0 50-22.4 50-50zM100 50c0-27.6-22.4-50-50-50 0 27.6 22.4 50 50 50z'%3E%3C/path%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
background-size: cover;
background-position: center;
background-repeat: no-repeat;

    

    padding: 30px 20px 50px 20px;
    border: solid #ffffff 7px;
    text-decoration: none;
    width: 23vw;
    min-height: 15vw;
    max-height: 15vw;
    margin-top: 5vh;
    font-weight: bold;
  }

  
  .btnamarillo:hover {

    
    background-color: rgb(174, 177, 14);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='100' height='100' patternUnits='userSpaceOnUse' patternTransform='scale(0.34)'%3E%3Cpath data-color='fill' fill='none' stroke='%23F5F83F' stroke-width='2.01' d='M50 0C22.4 0 0 22.4 0 50c27.6 0 50-22.4 50-50zM0 50c0 27.6 22.4 50 50 50 0-27.6-22.4-50-50-50zM100 50c-27.6 0-50 22.4-50 50 27.6 0 50-22.4 50-50zM100 50c0-27.6-22.4-50-50-50 0 27.6 22.4 50 50 50z'%3E%3C/path%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
  }

  
  