.containerboton{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    margin-top: 0.5vh;
}

.botongirar{
    -webkit-border-radius: 34;
    -moz-border-radius: 34;
    border-radius: 34px;
    -webkit-box-shadow: 0px 4px 0px #9e8c7e;
    -moz-box-shadow: 0px 4px 0px #9e8c7e;
    box-shadow: 0px 4px 0px #9e8c7e;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #bdb4ad;
    padding: 10px 20px 10px 20px;
    border: solid #bdb4ad 2px;
    text-decoration: none;
}

.containerruleta{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    margin-top: 1vh;
    width: 50vw;
}

.resultado-ruleta{
    margin-top: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 30%;
    text-align: center;
    border: 3px dotted #fd8037;
    background-color: white;
    color: black;
    font-weight: bold;
}
